
body {
	margin: 0px;
	padding: 0px;
	background: #AFEEEE;
	font-family: 'Gothic' , sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #000000;
}
h1, h2, h3{
	margin: 0px;
	padding: 0px;
}
p, ol, ul{
	margin-top: 0px;
}
p {
	line-height: 190%;
}
a {
	color: #191970;
}
a:hover {
	txet-decoration: none;
}
a img{
	border: none;
}
	.image
	{
		display: inline-block;
		width: 100%;
		margin: 0 0 2em 0;
	}
		.image img
		{
			display: block;
			width: 100%;
		}
/** List Styles (ul) **/
ul.style1{
	margin: 0;
	padding:0;
	list-style: none;
}
ul.style1 li{
	border-top: solid 1px #FDF5E6;
	padding: 0.80em 0;	
}
/** 첫번째 li에 대한 설정 **/
ul.style1 li:first-child
{
	border-top: 0;
	padding-top: 0;
}
ul.style2{
	margin: 0;
	padding:0;
	list-style: none;
}
ul.style2 li{
	border-top: solid 1px #FDF5E6;
	padding: 0.80em 0;	
}
ul.style2 li:first-child
{
	border-top: 0;
	padding-top: 0;
}
/** Heading Titles **/
.title{
	margin-bottom:2em;
	text-transform:uppercase;
}
.title h2
{
	font-weight: 400;
	font-size: 2em;
	color: #008B8B;
}
.title .byline{
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.90em;
	color: #696969;
}
/** Wrapper **/
#wrapper {
	background: #191970 url(bg01.png) repeat;
}
#footer-wrapper
{
	background: #191970;
}
.container {
	width: 120px;
	margin: 0px auto;
}
#header-wrapper
{
	overflow: hidden;
	background-size: 100%;
	padding: 6em 0em 2em 0em;
	background: #9370DB;
}
	#header
	{
		position: static;
		overflow: hidden;
		text-align: center;
	}
	#logo
	{
		width: 500px;
		height: 100px;
		margin: 0 auto;
		padding: 2em 0em;
		text-transform:uppercase;
	}
	#logo a
	{
		text-decoration: none;
		color: #FFF;
	}
	#banner
	{
		overflow: hidden;
		height: 330px;
		background: url(pic01.png) no-repeat center;
	}
	#menu-wrapper
{
	background: #AFEEEE;
}
#menu {
	height: 100px;
	overflow: hidden;
}
#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}
#menu li {
	display: inline-block;
}
#menu a:hover, #menu .current_page_item a {
	 text-decoration: none;
}
.page_item1:hover {
	background: #87CEFA;
}
#menu.current_page_item a{
	background: #87CEFA;
}
#page
{
	position:relative;
	overflow: hidden;
	padding: 6em 0em 5em 0em;
	
}
/** content **/
#content
{
	float: right;
	width: 790px;
}
	#sidebar
	{
		float: left;
		width: 345px;
	}
	#sidebar .title h2
	{
		font-size: 1.6em;
	}
	#sidebar .box1
	{
		margin-bottom: 3em;
	}
.button{
	display: inline-block;
	margin-top: 1.5em;
	padding: 0.05em 3em 0.05em 2em;
	background: #48D1CC; 
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.20em;
	font-weight: 400;
	font-size: 0.90em;
	color: #000;
}
/** portfolio **/
	#portfolio-wrapper 
	{
		background: rgba(0, 0, 0, .04);
		padding: 5em 0em;
		color: rgba(255, 255, 255, .7);
	}
	#portfolio
	{
		overflow: hidden;
	}
	#protfolio .title h2
	{
		font-size: 1.2em;
		color: #FFF;
	}
	.colum1, .colum2, .colum3, .colum4{
		width: 282px;
	}  
	.colum1, .colum2 {
		float: left;
		margin-right: 24px;
	}
	.colum3{
		float: left;
	}
	.colum4{
		float: right;
	}
/** footer**/
	#footer-wrapper
	{
		overflow: hidden;
		padding: 5em 0em;
		background: ;	
	}
	#footer
	{
		color: ;
	}
	#footer .title h2
	{
		font-weight:400;
		font-size: 1.2em;
		color: #FFF;
	}
	#footer .style1 li
	{
		border-color: #48D1CC ! important;
	}
 	#footer. style1 a
 	{
		border-color: #48D1CC! important;
	}
	#box1, #box2
		float: left;
		width: 354px;
		margin-right: 24px;
		padding-right: 30px;
	}
	#box3
	{
		float: right;
		width: 344px;
		padding-left: 40px;
	}
/** Copyright**/
